@page "/buy"

<h1>Buy parts</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Buy</th>
        </tr>
    </thead>
</table>

@code{

}
