@page "/costumers"

<h1>Costumers</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Sumbissions</th>
            <th>Invoices</th>
        </tr>
    </thead>
</table>

@code{

}
