@page "/paid"

<h1>Paid</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Discount</th>
            <th>FullAmount</th>
            <th>Date of printing</th>
            <th>Date of transaction</th>
            <th>Costumer</th>
            <th>Repairment</th>
        </tr>
    </thead>
</table>

@code{

}
