@page "/repairments"

<h1>By device</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
            <th>Submission</th>
            <th>Parts</th>
            <th>Invoice</th>
            <th>Price</th>
        </tr>
    </thead>
</table>

@code{

}
