@page "/sent"

<h1>Sent devices</h1>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Brand</th>
            <th>Version</th>
            <th>Costumer</th>
            <th>Probelm summary</th>
            <th>Date of arrival</th>
            <th>Repair started at</th>
            <th>Device takeover date</th>
            <th>Repair description</th>
        </tr>
    </thead>
</table>

@code{

}
