<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">QuickSave.Frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandDevNav = !expandDevNav">
                <span class="oi oi-laptop" aria-hidden="true"></span> Devices
            </NavLink>
            @if (expandDevNav)
            {
                <NavLink class="expand-menu" href="add">
                    <span>Add</span>
                </NavLink>
                <NavLink class="expand-menu" href="sent">
                    <span>In repair</span>
                </NavLink>
                <NavLink class="expand-menu" href="repaired">
                    <span>Repaired</span>
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="repairments">
                <span class="oi oi-wrench" aria-hidden="true"></span> Repairments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandParNav = !expandParNav">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Parts
            </NavLink>
            @if (expandParNav)
            {
                <NavLink class="expand-menu" href="buy">
                    <span>Buy</span>
                </NavLink>
                <NavLink class="expand-menu" href="list">
                    <span>List</span>
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandInvNav = !expandInvNav">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Invoices
            </NavLink>
            @if (expandInvNav)
            {
                <NavLink class="expand-menu" href="pay">
                    <span>To pay</span>
                </NavLink>
                <NavLink class="expand-menu" href="paid">
                    <span>Paid</span>
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="costumers">
                <span class="oi oi-people" aria-hidden="true"></span> Costumers
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandDevNav;
    private bool expandParNav;
    private bool expandInvNav;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
